$color-primary: #970d11;
$color-secondary: #ffccac;


.nsfw{
    color: red;
    font-size: 9px;
    float: right ;
}

#background{
    background-image: linear-gradient(#fcdcb4,#ffffee,white);
    height: 500px;
    width: 100%;
    float:initial;
    position: absolute;
    z-index: -1;
    
}

#logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 280px;
    height: 105px;
    position: relative;
    left:25%;
}

.container{
    display: grid;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    grid-row-gap: 30px ;
}
.info-container{
    top: 0px;
    display: grid;
    border: 0.5px $color-primary solid ;  
    background-color: white;
    max-width: 600px;
}

.column-container{
    padding: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    border: 0.1px ;
    height: 100%;
    width:100%;
    padding: 0%;
    margin: 0%;
}


.column{
    height: 100%;
    width: 100%;
    padding-right: 20px;
}

header{
    text-decoration: underline 1px;
    font-size: 12px;
    font-family: 'bold', sans-serif;
    font-weight:600 ;
}

.info-header{
    padding: 0.6%;
    font-size: 15px !important;
    font-family: sans-serif,'Bold';
    font-weight: 600;
    text-decoration: none;
    background-color: $color-secondary;
}

.page-link{
    width: fit-content;
    padding: 1.5px;
    font-size: 11px;
    font-family: 'bold', sans-serif;
    overflow: hidden;
    
}

.page-link:hover{
    cursor:pointer;
    color: red;
    text-decoration: underline;
}

a{
    color: $color-primary;
    width: fit-content;
    padding: 1px;
    font-size: 12px;
    font-family: 'bold', sans-serif;
    overflow: hidden;
    text-decoration: none;

    a:hover{
        text-decoration: underline;
        color: red;
    }
}

.thread-container{
    padding: 2%;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.thread-header{
    text-decoration: none;
    font-size: 11px;
}



.thread-image{
    max-width: 150px;
    max-height: 100px;
    border: $color-primary solid 1px;
    padding: 0px;
}

.thread-image:hover{
    cursor: pointer;
}

.thread-description{
    font-family: 'bold', sans-serif;
    font-size: 10px;

}

